	
<div class="container">	      
        
        <h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">
         Cart Products</h1>
		<p><a th:href="@{/addtocart}" class="btn btn-success btn-xs">Add to cart</a></p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>name</th>
					<th>quantity</th>			

				</tr>
			</thead>
			<tbody>
				<tr th:each="cartitem : ${cartitems}">
					<td th:text="${cartitem.product.name}"></td>
					<td th:text="${cartitem.quantity}"></td>					
					
				</tr>
			</tbody>
			<tfoot>
			<tr><td colSpan="3" th:text="${total}"></td></tr>
			</tfoot>
		</table>
    </div>
                                
	<div th:insert="fragments/footer"></div>
</body>

</html>