<nav th:fragment="menu_header" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/productform"> Products Form <span class="sr-only">Products</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product">Manage Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addtocart">Buy Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cartview">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">Orders</a>
      </li>
    </ul>
      <div class="form-inline my-2 my-lg-0" sec:authorize="!isAuthenticated()">
        <a class="btn btn-primary" th:href="@{login}">Log in</a>
        </div>
      <div class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()">
            <h6>Welcome <span th:text="${#authentication.name}"/></span></h6>
            <form  th:action="@{/logout}" method="post"> 
                <input class="btn btn-danger" type="submit" value="Logout"/> 
            </form>
        </div>
  </div>
</nav>