<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/confighead">
<title>home</title>
</head>

<body>

	<div th:insert="fragments/menu_header"></div>

	<div class="container">

		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0">
			Buy Products</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>price</th>
					<th>quantity</th>
					<th>Total</th>


				</tr>
			</thead>
			<tbody>


				<tr th:each="product : ${products}">
					<form th:action="@{/addtocart}" th:object="${cartItemDto}" method="post">
					<td id="name" th:text="${product.id}"></td>
					<input type="hidden" id="productId" name="productId" th:value="${product.id}" >
					<td id="name" th:text="${product.name}"></td>
					<td id="price" th:text="${product.price}"></td>
					<td><input style="width: 50px;" type="number" id="quantity" th:field="*{quantity}"></td>

					<td><button type="submit" class="btn btn-success">Add
							to cart</button></td>

					</form>
				</tr>

			</tbody>

		</table>
		<div class="form-group"></div>
	</div>
	<div th:insert="fragments/footer"></div>
</body>
</html>